{% extends "base.html.twig" %}

{% block body %}
 
     {{ form_start(form) }}
        <div>
            {{ form_widget(form.gender) }}
            {{ form_errors(form.gender) }}
        </div>
        <div>
            {{ form_widget(form.firstname) }}
            {{ form_errors(form.firstname) }}
        </div>
        <div>
            {{ form_widget(form.lastname) }}
            {{ form_errors(form.lastname) }}
        </div>
        <div>
            {{ form_widget(form.firstname) }}
            {{ form_errors(form.firstname) }}
        </div>
        <div>
            {{ form_widget(form.birthDate) }}
            {{ form_errors(form.birthDate) }}
        </div>

        <div>
            {{ form_widget(form.imageId) }}
            {{ form_errors(form.imageId) }}
        </div>

        <input type="submit" value="Submit">
        
    {{ form_end(form) }}
{% endblock %}



   