{% extends "base.html.twig" %}

{% block body %}
 
     {{ form_start(form) }}
        <div>
            {{ form_widget(form.gender) }}
            {{ form_errors(form.gender) }}
        </div>
        <div>
            {{ form_widget(form.firstname) }}
            {{ form_errors(form.firstname) }}
        </div>
        <div>
            {{ form_widget(form.lastname) }}
            {{ form_errors(form.lastname) }}
        </div>
        <div>
            {{ form_widget(form.birthDate) }}
            {{ form_errors(form.birthDate) }}
        </div>

        <div>
            <table>
                <tr>
                    <td>
                        {{ form_widget(form.imageId, {'value' : user.imagePath }) }}
                        {{ form_errors(form.imageId) }}
                    </td>
                    <td>
                        <img width="50px" height="50px" src="{{ user.imagePath }}" />
                    </td>
                </tr>
            </table>
        </div>

        <input type="submit" value="Submit">
        
    {{ form_end(form) }}
{% endblock %}



   